.task-list > * {
  clear: both;
}

.task {
  position: relative;
  margin-bottom: 1px;
}

.task .task-operation-container {
  display: none;
  position: absolute;
  top: 10px;
  right: 5px;
}

.task:hover .task-operation-container {
  display: block;
}

.timer-container {
  background-color: #3c3b49;
  display: inline-block;
  border-radius: 90px;
}

.open-new-task-form:hover {
  text-decoration: underline;
  cursor: pointer;
}

.task .task-details {
  clear: both;
  display: none;
}

.task:hover .task-details {
  display: block;
}

.today-task-list .task {
  margin-bottom: 5px;
}

.today-task-list .task .task-details {
  display: block;
}

.task .task-description {
  word-wrap: break-word;
}

.task .task-pomodoros {
  padding: 0px;
}

.task .task-pomodoros img {
  height: 20px;
}

.new-task-form .form-group {
  margin-bottom: 5px;
}

.new-task-form, .new-task-link {
  clear: both;
}

.task-title {
  width: 100%;
}

.task-operation-container {
  margin-left: -100%;
}

.panel-footer {
  border-top: none;
}

.task:hover .panel-footer {
  border-top: 1px solid #dddddd;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}

.bs-callout-info h4 {
  color: #34789a;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}