.task-list > * {
  clear: both;
}

.task {
  position: relative;
  margin-bottom: 0px;
}

.task .task-operation-container {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
}

.task:hover .task-operation-container {
  display: block;
}

.timer-container {
  background-color: #3c3b49;
  display: inline-block;
}

.open-new-task-form:hover {
  text-decoration: underline;
  cursor: pointer;
}

.task .task-details {
  clear: both;
  display: none;
}

.task:hover .task-details {
  display: block;
}

.today-task-list .task {
  margin-bottom: 5px;
}

.today-task-list .task .task-details {
  display: block;
}

.task .task-description {
  word-wrap: break-word;
}

.task .task-pomodoros {
  padding: 0px;
}

.task .task-pomodoros img {
  height: 20px;
}

.new-task-form .form-group {
  margin-bottom: 5px;
}

.new-task-form, .new-task-link {
  clear: both;
}

.task-title {
  width: 100%;
}

.task-operation-container {
  margin-left: -100%;
}