.task-list > * {
  clear: both;
}

.task {
  position: relative;
  margin-bottom: 1px;
}

.task .task-operation-container {
  display: none;
  position: absolute;
  top: 10px;
  right: 5px;
}

.task:hover .task-operation-container {
  display: block;
}

.timer-container {
  background-color: #3c3b49;
  display: inline-block;
  border-radius: 90px;
}

.open-new-task-form:hover {
  text-decoration: underline;
  cursor: pointer;
}

.task .task-details {
  clear: both;
  display: none;
}

.task:hover .task-details {
  display: block;
}

.today-task-list .task {
  margin-bottom: 5px;
}

.today-task-list .task .task-details {
  display: block;
}

.task .task-description {
  word-wrap: break-word;
}

.task .task-pomodoros {
  padding: 0px;
}

.task .task-pomodoros img {
  height: 20px;
}

.new-task-form .form-group {
  margin-bottom: 5px;
}

.new-task-form, .new-task-link {
  clear: both;
}

.task-title {
  width: 100%;
}

.task-operation-container {
  margin-left: -100%;
}

.panel-footer {
  border-top: none;
}

.task:hover .panel-footer {
  border-top: 1px solid #dddddd;
}

.navbar-form span {
  vertical-align: middle;
}

.bs-callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;
}

.bs-callout-info {
  background-color: #f4f8fa;
  border-color: #bce8f1;
}

.bs-callout-info h4 {
  color: #34789a;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.onoffswitch {
    position: relative; width: 75px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch label {
  margin-bottom: 0;
}

.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "开启";
    padding-left: 12px;
    background-color: #47A447; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "关闭";
    padding-right: 12px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    height: 20px;
    width: 20px; margin: 7px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 41px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

body > .container {
  min-height: 700px;
}

footer {
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  padding-top: 3px;
}

footer p {
  text-align: center;
}