.task-list {
}

.task:hover {
  background-color: #f5f5f5;
}

.task .task-operation-container {
  display: none;
}

.task:hover .task-operation-container {
  display: block;
}

.timer-container {
  background-color: #3c3b49;
  display: inline-block;
}

.open-new-task-form:hover {
  text-decoration: underline;
  cursor: pointer;
};