<!DOCTYPE html>
<html ng-app="pomodoroApp">
  <head>
    <title>番茄时间</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/customized.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>
    <script src="js/application.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">番茄时间</a>
      </div>
    </nav>
    <div class="row main-content" ng-controller="pomodoroController">
      <div class="col-md-6 stage">
      </div>
      <div class="col-md-3 task-list-container">
        <ul class="list-unstyled">
          <li class="task" ng-repeat="task in allTasks | filter:{today:true}">{{ task.title }}</li>
        </ul>
      </div>
      <div class="col-md-3 task-list-container">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newTask.title">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="addTask(true)"><i class="fa fa-plus"></i> 今日任务</button>
            <button class="btn btn-info" type="button" ng-click="addTask(false)"><i class="fa fa-plus"></i> 候选任务</button>
          </span>
        </div>
        <ul class="list-unstyled">
          <li class="task" ng-repeat="task in allTasks | filter:{today:false}">{{ task.title }}</li>
        </ul>
      </div>
    </div>
  </body>
</html>