<!DOCTYPE html>
<html ng-app="pomodoroApp">
  <head>
    <title>番茄时间</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/customized.css" rel="stylesheet">

    <script src="js/angular.min.js"></script>
    <script src="js/application.js"></script>
    <script src="js/controllers.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">番茄时间</a>
      </div>
    </nav>
    <div class="main-content" ng-controller="pomodoroController">
      <div class="stage">
      </div>
      <div class="task-list-container-outer">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="newTask.title">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" ng-click="addTask(true)"><i class="fa fa-plus"></i> 今日任务</button>
            <button class="btn btn-info" type="button" ng-click="addTask(false)"><i class="fa fa-plus"></i> 候选任务</button>
          </span>
        </div>
        <div class="task-list-container-inner">
          <div>
            <p>今日任务列表</p>
            <ul class="list-unstyled task-list">
              <li class="task" ng-repeat="task in allTasks | filter:{today:true}">
                {{ task.title }}
                <button type="button" class="btn btn-warning btn-xs pull-right" ng-click="task.today=false">移至候选任务</button>
              </li>
            </ul>
          </div>
          <div>
            <p>候选任务列表</p>
            <div>
            <ul class="list-unstyled task-list">
              <li class="task" ng-repeat="task in allTasks | filter:{today:false}">
                {{ task.title }}
                <button type="button" class="btn btn-warning btn-xs pull-right" ng-click="task.today=true">移至今日任务</button>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>